:where(:root) {
  --gray-0: #f9f9fb;
  --gray-1: #e8e8ea;
  --gray-2: #d9d9dc;
  --gray-3: #bfbfc2;
  --gray-4: #a5a5a8;
  --gray-5: #8b8b8e;
  --gray-6: #717174;
  --gray-7: #57575a;
  --gray-8: #3b3b3d;
  --gray-9: #2b2b2d;
  --gray-10: #1b1b1d;
  --gray-11: #111113;
  --gray-12: #0a0a0c;

  --brand-primary: #1b1b1d;
  --brand-primary-light: rgba(27, 27, 29, 0.85);
  --brand-primary-dark: #111113;
  --brand-secondary: #3b3b3d;
  --brand-secondary-light: rgba(59, 59, 61, 0.85);
  --brand-secondary-dark: #2b2b2d;
  --brand-accent: #0078a8;
  --brand-accent-light: rgba(0, 120, 168, 0.15);
  --brand-accent-dark: #005c82;

  --blue-light: #e8f4fd;
  --blue-dark: #3b82f6;

  --green-light: #e8fce9;
  --green-dark: #10b981;

  --yellow-light: #fef9e7;
  --yellow-dark: #fbbf24;

  --orange-light: #fef3e7;
  --orange-dark: #f97316;

  --red-light: #fee8e8;
  --red-dark: #ef4444;

  --purple-light: #f3e8ff;
  --purple-dark: #a855f7;

  --pink-light: #fde8f2;
  --pink-dark: #ec4899;

  --cyan-light: #e8fffe;
  --cyan-dark: #06b6d4;
}
